process {
    cpus = 2
    memory = '8 GB'

    withName: PREPPAINTOR_splitlocus {
        cpus = 22
        memory = '60 GB'
    }

}

profiles {
    slurm {
        process.executor = 'slurm'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMount = true
        process.container = 'container.sif'
        
    }
}


